* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* outline: red solid 1px; */
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  background-color: rgb(46, 46, 46);
}
h1 {
  font-size: 60px;
  color: white;
}
.container {
  max-width: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-auto-rows: 35px;
  gap: 15px;
  color: white;
}
label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 143, 143);
  font-size: 18px;
  border-radius: 20px;
}
select,
input {
  background-color: rgb(196, 196, 196);
  border-radius: 20px;
  border: 0;
  outline: 0;
  font-size: 16px;
  text-align: center;
}
button {
  border: 0;
  outline: 0;
  grid-column: span 2;
  border-radius: 20px;
  background-color: rgb(143, 143, 143);
  font-size: 18px;
  color: white;
}
table {
  color: white;
  max-width: 600px;
  width: 100%;
  border-collapse: collapse;
}
td {
  text-align: center;
}
tr:has(th) {
  height: 35px;
  overflow: hidden;
  background-color: rgb(143, 143, 143);
}
tr:has(td) {
  height: 55px;
  overflow: hidden;
  background-color: rgb(143, 143, 143);
}
tr:has(td):nth-child(2n) {
  color: black;
  background-color: rgb(196, 196, 196);
}
td button.delete {
  padding: 10px 20px;
  background-color: rgb(46, 46, 46);
}

img {
  width: 60px;
}
.container.n2 {
  max-width: 600px;
  grid-template-columns: 1.2fr 1.5fr;
  grid-auto-rows: 35px;
}
